/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #f7e8ec;
  --error: #e7195a;
}
body {
  background: #c57c8a;
  color: rgb(220, 220, 220);
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #732c3f;
  color: rgb(220, 220, 220);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: var(--primary);
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #732c3f;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: var(--primary);
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #1a0b12;
  padding: 6px;
  border-radius: 50%;
  color: var(--primary);
}

/* new workout form */
label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  background-color: #1a0b12;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a,
nav button {
  margin-left: 10px;
}
nav button {
  background: #1a0b12;
  color: var(--primary);
  border: 2px solid var(#1a0b12);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #732c3f;
  border-radius: 4px;
}

form.login button {
  background-color: #1a0b12;
}
form.signup button {
  background-color: #1a0b12;
}
form.create input {
  background-color: #732c3f;
  border: 1.5px solid #400164;
  color: rgb(220, 220, 220);
  caret-color: #c57c8a;
}

form.create input:focus {
  outline: #1a0b12;
}

.no-tasks {
  color: var(--primary);
  margin: 100px 0px;
  padding: 5px 5px;
  text-align: center;
}
.no-tasks span {
  display: block;
}
